plotly==5.11.0
jupyter_client==7.3.5
jupyter_core==4.11.1
jupyter-dash==0.4.2
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
cufflinks==0.17.3
urllib3==1.26.12
Flask==2.2.2
Flask-Compress==1.13
torch==1.13.0
numpy==1.21.5
pandas==1.3.5 #render
tensorflow==2.9.1
tensorflow-estimator==2.9.0
keras==2.9.0
Keras-Preprocessing==1.1.2
transformers==4.24.0
sentencepiece==1.0.2 #render
scikit-learn==1.1.3
scipy==1.7.3
huggingface-hub==0.10.1
